.progress.bg .progress-bar.bg-success::before {
    content: "\2605Perfect\2605";
    color: #000;
    font-size: 12px;
}

.progress.bg .progress-bar.bg-success {
	background-color: #88FF88 !Important;
    color: transparent;
    font-size: 0;
}